
<div id="player_names">
  <input class="player_name" type="text" placeholder="Player Name">
  <input class="player_name" type="text" placeholder="Player Name">
</div>

<input id="board_length" type="text" placeholder="Track Length">
<button id="submit_count">Submit</button>

<button id="add_player">Add Player</button>

<table class="racer_table">
</table>

<div id="gamedata"></div>
